<!-- <div class="logo">
    <img src="../../../assets/images/SNMDlogo.png" alt="logo">
    <h1>
      <span>С</span>
      <span>Н</span>
      <span>М</span>
      <span>Д</span>
        
    </h1>
    <h3><b> Српско научно математичко друштво</b></h3>
</div> -->
<div class="container-fluid">
  <h1>You may be interested, take a minute:</h1>
  <div class="useful">
    <div class="efmc">
      <img src="../../../assets/images/efmc.png" alt="efmc">
      <a href="https://efmc.eu/">EU FUNDED GRANTS SERVICES</a>
    </div>

    <div class="brussels">
      <img src="../../../assets/images/brussels.png" alt="brussels">
      <a href="https://efmc.eu/events/brussels-belgium-24-26-09-2019/">
        24-26.10.2019.
        BRUSSELS, BELGIUM
        FINANCIAL MANAGEMENT OF H2020 & HORIZON EUROPE PROJECTS
      </a>
    </div>
    <div class="netherlands">
      <img src="../../../assets/images/netherlands.png" alt="netherlands">
      <a href="https://efmc.eu/events/amsterdam-netherlands-20-22-11-2019/">
        20-22.11.2019.
        AMSTERDAM, THE NETHERLANDS,
        FINANCIAL MANAGEMENT OF H2020 & HORIZON EUROPE PROJECTS
      </a>
    </div>

    <div class="vienna">
      <img src="../../../assets/images/vienna.png" alt="vienna">
      <a href="https://efmc.eu/events/vienna-austria-03-05-12-2019/">
        03-05.12.2019
        VIENNA, AUSTRIA
        FINANCIAL MANAGEMENT OF H2020 & HORIZON EUROPE PROJECTS
      </a>

    </div>

    <div class="barselona">
      <img src="../../../assets/images/barselona.png" alt="barselona">
      <a href="https://efmc.eu/events/barcelona-espana-08-10-2019/">
        08-10.10.2019
        BARCELONA, ESPAÑA
        GESTIÓN FINANCIERA DE PROYECTOS H2020 / HORIZON EUROPE
      </a>
    </div>

    <div class="roma">
      <img src="../../../assets/images/roma.png" alt="roma">
      <a href="https://efmc.eu/events/milano-italia-14-16-11-2019-italiano/">
        12-14.11.2019
        ROMA, ITALY
        GESTIONE FINANZIARIA DEI PROGETTI H2020 / HORIZON EUROPE
      </a>
    </div>
    <div class="lisabon">
      <img src="../../../assets/images/lisabon.png" alt="lisabon">
      <a href="https://efmc.eu/events/lisbon-portugal-24-25-09-2019-2-day-training/">
        24-25.09.2019
        LISBON, PORTUGAL
        INNOVATIVE HORIZON EUROPE & H2020 PROPOSAL WRITING

      </a>
    </div>
    <div class="venice">
      <img src="../../../assets/images/venice.png" alt="venice">
      <a href="https://efmc.eu/events/venice-italy-23-25-10-2019/">
        23-25.10.2019
        VENICE, ITALY
        INNOVATIVE HORIZON EUROPE & H2020 PROPOSAL WRITING
        
      </a>
    </div>

    <div class="berlin">
      <img src="../../../assets/images/berlin.png" alt="berlin">
      <a href="https://efmc.eu/events/berlin-germany-11-13-12-2019/">
        11-13.12.2019
        BERLIN, GERMANY
        INNOVATIVE HORIZON EUROPE & H2020 PROPOSAL WRITING
      </a>
    </div>

  </div>

  <div class="links">

  </div>
</div>
