<section>
  <button (click)="show()" type="button" class="btn analysis">Analysis instructors</button>
  <div id="analysisText">
    <div class="gridLecturers">
        <div class="flip-box">
            <div class="flip-box-inner">
      <div class="anaLy Pilipovic flip-box-front">
        <img src="../../../assets/images/Pilipovic.jpeg" alt="yellow">
        <a href="http://people.dmi.uns.ac.rs/~pilipovic/"> Stevan Pilipović</a></div>
      
      
        <div class="flip-box-back">
            <img
              src="../../../assets/images/logo2.png"
              alt="">
          </div>
        </div>
      </div>  <div class="anaLy Nedeljkov"> <img src="../../../assets/images/QRCode.png" alt="QRCode"><a
          href="https://www.dmi.uns.ac.rs/o_nama/imenik/marko"> Marko
          Nedeljkov</a></div>
      <div class="anaLy Rajter"> <img src="../../../assets/images/rajter.jpg" alt="yellow"><a
          href="https://www.dmi.uns.ac.rs/o_nama/imenik/rajter"> Danijela Rajter
          Ćirić</a></div>
      <div class="anaLy Konjik"> <img src="../../../assets/images/QRCode.png" alt="QRCode"><a
          href="http://people.dmi.uns.ac.rs/~sanja.konjik/">Sanja Konjik</a>
      </div>
      <div class="anaLy Krejic"> <img src="../../../assets/images/QRCode.png" alt="QRCode"><a
          href="https://www.dmi.uns.ac.rs/o_nama/imenik/natasa">Nataša
          Krejić</a></div>
      <div class="anaLy Teofanov"> <img src="../../../assets/images/QRCode.png" alt="QRCode"><a
          href="https://personal.pmf.uns.ac.rs/nenad.teofanov/">Nenad
          Teofanov</a></div>
      <div class="anaLy Selesi"> <img src="../../../assets/images/QRCode.png" alt="QRCode"><a
          href="http://people.dmi.uns.ac.rs/~dora/">Dora Seleši</a>
      </div>
      <div class="anaLy Rakocevic"> <img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://tesla.pmf.ni.ac.rs/people/vrakoc/Vladimir_Rakocevic.htm">Vladimir Rakočević</a>
      </div>
      <div class="anaLy Djordjevic"> <img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://operator.pmf.ni.ac.rs/licne_prezentacije/DDjordjevic/Dragan_Djordjevic_english.htm">Dragan
          Đorđević</a>
      </div>
      <div class="anaLy Stankovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Mića Stanković</a>
      </div>
      <div class="anaLy Manojlovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Jelena Manojlović</a>
      </div>
      <div class="anaLy Jovanovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Miljana Jovanović</a>
      </div>
      <div class="anaLy Ilic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Dragana Cvetković Ilić</a>
      </div>
      <div class="anaLy Milosevic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Marija Milosević</a>
      </div>
      <div class="anaLy Velimirovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Ljubica Velimirović</a>
      </div>
      <div class="anaLy Ristic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Miroslav Ristić</a>
      </div>
      <div class="anaLy Nastic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Aleksandar Nastić</a>
      </div>
      <div class="anaLy Zlatanovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href=""> Snezana Živković Zlatanović</a>
      </div>
      <div class="anaLy Stanimirovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Predrag Stanimirović</a>
      </div>
      <div class="anaLy Petkovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Marko Petković</a>
      </div>
      <div class="anaLy ZlatanovicM"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Milan Zlatanović</a>
      </div>
      <div class="anaLy Dincic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Nebojsa Dinčić</a>
      </div>
      <div class="anaLy Djekic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://xn--j1aebtj.xn--90a3ac/dt_team/diana-dolicanin/"> Dijana Dolićanin Đekic</a>
      </div>
      <div class="anaLy Mateljevic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://poincare.matf.bg.ac.rs/~miodrag/index_e.html">Miodrag Mateljević</a>
      </div>
      <div class="anaLy Arsenovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://poincare.matf.bg.ac.rs/nastavno/marsen.html">Miloš Arsenović</a>
      </div>
      <div class="anaLy Spalevic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="https://www.mas.bg.ac.rs/fakultet/nastavnici/189">Miodrag Spalević</a>
      </div>
      <div class="anaLy Todorcevic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://www.mi.sanu.ac.rs/~vesnam/">Vesna Todorcević</a>
      </div>
      <div class="anaLy Milovanovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://www.mi.sanu.ac.rs/~gvm/">Gradimir Milovanović</a>
      </div>
      <div class="anaLy Petrovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://www.ekof.bg.ac.rs/petrovic-dr-ljiljana/">Ljiljana Petrović</a>
      </div>
      <div class="anaLy Stanic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="https://imi.pmf.kg.ac.rs/index.php?id=66&page=nastavnik">Marija Stanić</a>
      </div>
      <div class="anaLy Bojovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="https://imi.pmf.kg.ac.rs/index.php?id=2487">Dejan Bojović</a>
      </div>
      <div class="anaLy JovanovicB"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://www.mi.sanu.ac.rs/mmm/engleski/Ljudi/Boza.html">Božidar Jovanović</a>
      </div>
      <div class="anaLy Radnovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://www.mi.sanu.ac.rs/mmm/engleski/Ljudi/Milena.html"> Milena Radnović</a>
      </div>
      <div class="anaLy Dragovic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://www.mi.sanu.ac.rs/mmm/engleski/Ljudi/Vlada.html">Vladimir Dragović </a>
      </div>
      <div class="anaLy Gajic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://www.mi.sanu.ac.rs/mmm/engleski/Ljudi/Gaja.html">Borislav Gajić</a>
      </div>
      <div class="anaLy Blagojevic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="http://www.mi.sanu.ac.rs/~pavleb/right_frame.html">Pavle Blagojević</a>
      </div>
      <div class="anaLy Coriascolo"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="https://www.matematica.unito.it/do/docenti.pl/Show?_id=scorias#profilo">Sandro Coriasco</a>
      </div>
      <div class="anaLy Vindas"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="https://cage.ugent.be/~jvindas/">Jason Vindas</a>
      </div>
      <div class="anaLy Mosic"><img src="../../../assets/images/QRCode.png" alt="QRCode">
        <a href="">Dijana Mosić</a></div>
    </div>

  </div>


  <button (click)="show2()" type="button" class="btn  algebra">Algebra and
    mathematical logic instructors</button>
  <div id="algebraText">
    <div class="gridLecturersAlg">
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="">Miroslav Ćirić</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href=""> Jelena Ignjatović</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="">Milan Bašić</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="https://www.dmi.uns.ac.rs/o_nama/imenik/andreja">Andreja Tepavčević</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="https://www.dmi.uns.ac.rs/o_nama/imenik/seselja">Branimir Šešelja</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="http://people.dmi.uns.ac.rs/~sima/">Siniša Crvenković</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="https://www.dmi.uns.ac.rs/o_nama/imenik/pera">Petar Marković</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="https://www.dmi.uns.ac.rs/o_nama/imenik/milos">Miloš Kurilić</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="https://www.dmi.uns.ac.rs/o_nama/imenik/bojan_basic">Bojan Bašić</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="http://imft.ftn.uns.ac.rs/~silvia/">Silvia Ghilezan</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="http://imft.ftn.uns.ac.rs/~vanja/">Jovanka Pantović</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="http://www.mi.sanu.ac.rs/~kosta/">Kosta Došen</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="">Aleksandar Perović</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="http://www.mi.sanu.ac.rs/~zorano/">Zoran Ognjanović</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="http://www.mi.sanu.ac.rs/~zpetric/">Zoran Petrić</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="">Miodrag Rašković</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="http://www.mi.sanu.ac.rs/cv/cvtanovic.htm">Predrag Tanović</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="https://www.math.toronto.edu/cms/people/faculty/todorcevic-stevo/">Stevo Todorčević</a>
      </div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href="http://www.logique.jussieu.fr/~boban/">Boban Veličković</a></div>
      <div class="alg"><img src="../../../assets/images/QRCode.png" alt="QRCode"><a href=""> Nebojša Mudrinski</a></div>
    </div>
  </div>
</section>
