// media query
$tablet-width: 1024px;
$mobile-width: 768px;


// colors

$color-button: #46b688;
$color-blue: #147abf;
$color-gray: #f0f0f0;
$color-background: #fafafa;
$color-sidenav-text: #929292;
$color-white: #fff;
$color-red: #ab170f;

// font
$font: Arial,Helvetica Neue,Helvetica,sans-serif; 

// ostalo