<div class="container-fluid">

  <div class="flip-box one">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img
          src="../../../assets/images/ZoranStojaković/Konferencija Applied Linear Algebra, Novi Sad, 2013 (foto Z.Stojaković)_resize.jpg"
          alt="">
      </div>
      <div class="flip-box-back">
        <img
          src="../../../assets/images/ZoranStojaković/Ingrid Daubechies, 14th General Meeting European Women in Mathematics, Novi Sad, 2009, _resize.jpg"
          alt="">
      </div>
    </div>
  </div>

  <div class="flip-box two">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="../../../assets/images/India.JPG" alt="">
      </div>
      <div class="flip-box-back">
        <img src="../../../assets/images/dodela.JPG" alt="">
      </div>
    </div>
  </div>

  <div class="flip-box tree">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="../../../assets/images/dodela2.JPG" alt="">
      </div>
      <div class="flip-box-back">
        <img src="../../../assets/images/ZoranStojaković/DSC05916c_resize.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="about">
    <h1>About PhD school</h1>
    <h2>
      The level of the mathematical sciences in Serbia is rather high and
      consequently the Doctoral school of mathematics (DSM) is becoming
      attractive for both domestic and foreign students. DMS provides a
      well-structured doctoral training in various areas of mathematics. The
      school relays on joint capacities of four Serbian universities and the
      Mathematical Institute of the Serbian Academy of Sciences and Arts. This
      large pool of professors and researchers, together with a number of
      outstanding visiting professors from various European universities, allows
      the students to follow their interests under supervision of excellent
      researchers and to aim at results with significant impact in mathematics.
      The study program is flexible and offers state-of-the-art knowledge and
      challenging research topics. PhD programs conducted at DSM aim at having a
      significant impact at the highest academic levels and boosting sustainable
      growth.
    </h2>
  </div>


</div>
