<div class="container-fluid">

  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img
          src="../../../assets/images/ZoranStojaković/Konferencija Applied Linear Algebra, Novi Sad, 2013 (foto Z.Stojaković)_resize.jpg"
          alt="">
      </div>
      <div class="flip-box-back">
        <img
          src="../../../assets/images/ZoranStojaković/Ingrid Daubechies, 14th General Meeting European Women in Mathematics, Novi Sad, 2009, _resize.jpg"
          alt="">
      </div>
    </div>
  </div>

  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img
          src="../../../assets/images/India.JPG"
          alt="">
      </div>
      <div class="flip-box-back">
        <img
          src="../../../assets/images/dodela.JPG"
          alt="">
      </div>
    </div>
  </div>

  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img
          src="../../../assets/images/dodela2.JPG"
          alt="">
      </div>
      <div class="flip-box-back">
        <img
          src="../../../assets/images/ZoranStojaković/DSC05916c_resize.jpg"
          alt="">
      </div>
    </div>
  </div>


</div>
