<div class="institutions">
  <div class="background">
    <img src="../assets/images/tvdjava2.png" alt="tvrdjava">
  </div>
  <div class="misanu logo">
    <img src="../assets/images/MI.png" alt="misanu">
    <p><a href="http://www.mi.sanu.ac.rs/">Mathematical Institute,<br>Belgrade</a></p>
  </div>
  <div class="pmfns logo">
    <img src="../../../assets/images/UNS.jpeg" alt="Novi Sad">
    <p><a href="https://www.dmi.uns.ac.rs/en">University of Novi Sad,<br>Novi Sad</a></p>
  </div>
  <div class="pmfnis logo">
    <img src="../../../assets/images/UNIS.jpeg" alt="Nis">
    <p><a href="https://www.pmf.ni.ac.rs/departman/matematika/">University of Niš,<br>Niš</a></p>
  </div>
  <div class="pmfkg logo">
    <img src="../../../assets/images/UKG.png" alt="Kg">
    <p><a href="https://www.pmf.kg.ac.rs/?id=30">University of Kragujevac,<br>Kragujevac</a></p>
  </div>
  <div class="dunp logo">
    <img src="../../../assets/images/novipazar.jpeg" alt="Novi Pazar">
    <p><a href="http://www.np.ac.rs/en/stud-prog-mat/sp-mat-das">State university,<br>Novi Pazar</a>
    </p>
  </div>
  <h2>Serbian mathematical PhD school</h2>
  <h3>Serbia - Belgrade, Novi Sad, Niš, Kragujevac, Novi Pazar</h3>
  <h4 class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+381 11 </h4>
</div>
<div class="container-fluid">
  <footer id="footer">
    <div>
      <a href="#"><img src="../../assets/images/Twitter-Logo.png" alt="Twitter-Logo srcset" class="social"></a>
      <a href="#"><img src="../../../assets/images/instagram.png" alt="instagram" class="social"></a>
      <a href="#"><img src="../../../assets/images/linkedIn.png" alt="linkedin" class="social"></a>
      <a href="#"><img src="../../../assets/images/facebook.png" alt="facebook" class="social"></a>
      <a href="#"><img src="../../../assets/images/youtube.jpg" alt="youtube" class="social"></a>
    </div>

    <ul>
      <li><a href="#" [routerLink]="['/conditions']" routerLinkActive="router-link-active">Terms and conditions</a></li>
      <li><a href="#" [routerLink]="['/privacy']" routerLinkActive="router-link-active">Privacy policy</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>

  </footer>
  <div class="logo-footer">
    <img src="../../../assets/images/logo2.png" alt="logo">
  </div>
  <div class="copy">
    &copy; Serbian Mathematical PhD School, 2019., by Biljana Nedeljkov mob. +381 60-459-08-50
  </div>
</div>
