<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active one ">
          <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="router-link-active">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active two ">
          <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="router-link-active">About <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active tree">
          <a class="nav-link" href="#" [routerLink]="['/analysis']">Modules <span
              class="sr-only">(current)</span></a>
          <h3> <i class="fa fa-angle-right" aria-hidden="true"></i></h3>

          <div class="dropdown-content">
            <div class="analysis modules">
              <a href="#"  [routerLink]="['/analysis']"  routerLinkActive="router-link-active">Mathematical analysis</a>
            </div>
            <div class="algebra modules">
              <a href="#" [routerLink]="['/algebra']" routerLinkActive="router-link-active" > Algebra and mathematical logic</a>
            </div>
          </div>

        </li>

        <li class="nav-item active four">
          <a class="nav-link" href="#" [routerLink]="['/lecturers']" routerLinkActive="router-link-active">Lecturers <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active five ">
          <a class="nav-link" href="#" [routerLink]="['/students']" routerLinkActive="router-link-active">Students<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active six">
          <a class="nav-link" href="#" [routerLink]="['/useful']" routerLinkActive="router-link-active">
            Useful
            <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active seven zoom">
          <a class="nav-link" href="#" [routerLink]="['/institutions']" routerLinkActive="router-link-active">Institutions
            <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <button class="mini-nav">
        <h2><i class="fa fa-bars" aria-hidden="true"></i></h2>
      </button>
      <div class="logo zoom">
        <img src="../../../assets/images/logo2.png" alt="logo">
      </div>

    </nav>
  </div>
</div>
