@import '../../helpers/mixins';

.row {
  background-color: $color-red;
  position: relative;
  margin-bottom: 5em;
}

nav {
  width: 100%;


  ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;

    li {
      padding: .5em;
      text-transform: uppercase;

      h3 {
        display: none;
      }
    }

    .one {
      grid-column: 1/2;

      a {
        padding-left: 1em;
      }
    }

    .two {
      grid-column: 2/3;
    }

    .tree {
      grid-column: 3/4;
      display: grid;
      grid-template-rows: 20% 80%;
      .dropdown-content {
        background-color: $color-red;
        display: none;
        position: absolute;
        top: 4.5em;
    
        .analysis {
          padding: 1em;
    
          a {
            color: white;
            text-decoration: none;
          }
        }
    
        .algebra {
          padding: 1em;
    
          a {
            color: white;
            text-decoration: none;
          }
        }
      }

      .modules {
        border-top: 2px solid white;
        width: 19em;
        text-transform: capitalize;
      }

      &:hover .dropdown-content {
        display: block;

      }
    }

    .four {
      grid-column: 4/5;
    }

    .five {
      grid-column: 5/6;
    }

    .six {
      grid-column: 8/9;
    }

    .seven {
      grid-column: 9/10;
    }
  }

  .logo {
    position: absolute;
    border: 3px solid black;
    right: 43%;
    width: 15em;

    img {
      border: 3px solid #ab170f;
      width: 100%;
    }
  }

  .fa-bars {
    color: white;
  }

  .mini-nav {
    display: none;
  }

}

@include tablet {
  nav {
  .logo {
    right: 2em;
    top: -200%;
  }

  .six {
    grid-column: 6/7;
  }

  .seven {
    grid-column: 7/8;
  }
}
}
@include mobile {
  nav {
    display: grid;
    grid-template-rows: 40% 60%;

    ul {
      display: none;
      border: none;
      grid-row: 2/3;

      .tree {
        display: block;

        .dropdown-content {
          display: none;
          position: absolute;
          left: 103%;
          top: -14%;
          background-color: $color-red;
          width: 19em;
          background-color: black;

          .modules {
            border: 3px solid $color-red;

            a {
              color: white;
            }
          }
        }

        &:hover .dropdown-content {
          display: block;
        }
      }

      li {
        text-align: center;
        border: 1px solid $color-red;
        width: 50%;
        position: relative;
        margin: .5em;
        background-color: black;

        a {
          padding-left: 0;

        }

        h3 {
          position: relative;
          display: block;

          i {
            position: absolute;
            color: white;
            right: 1em;
            top: -1em;
          }
        }
      }
    }

    .mini-nav {
      display: block;
      grid-row: 2/3;
      width: 20%;
      position: relative;
      top: 70px;
      background-color: $color-red;
      border: 0;
      left: 40%;
    }

    &:hover ul {
      display: block;
    }

    &:hover .mini-nav {
      display: none;
    }

    &:hover .logo {
      top: 5px;
    }

    .logo {
      position: relative;
      top: 5em;
      right: 0;
      width: 100%;
      height: 20em;
      border: none;
      grid-row: 1/2;

      img {
        height: 20em;
        border: 3px solid black;
      }
    }

  }
}
