<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active one">
          <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="router-link-active">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active two">
          <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="router-link-active">About <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active tree">
          <a class="nav-link" href="#" [routerLink]="['/board']" routerLinkActive="router-link-active">Academics <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active four">
          <a class="nav-link" href="#" [routerLink]="['/members']" routerLinkActive="router-link-active">Students <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active five">
          <a class="nav-link" href="#" [routerLink]="['/news']" routerLinkActive="router-link-active">News <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active six">
          <a class="nav-link" href="#" [routerLink]="['/membership']" routerLinkActive="router-link-active">
            Lecturers
            <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active seven">
          <a class="nav-link" href="#" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact <span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
      <button class="mini-nav"><h2><i class="fa fa-bars" aria-hidden="true"></i></h2></button>
      <div class="logo">
        <img src="../../../assets/images/logo2.png" alt="logo">
      </div>
     
    </nav>
  </div>
