<div class="container-fluid">
  <div class="institutions">
    <img class="mi logo" src="../../../assets/images/MI.png" alt="mi">
    <img src="../../../assets/images/mizgrada.jpg" alt="mi">
    <a href="http://www.mi.sanu.ac.rs/">
      <h5>
        Mathematical Institute
        of the Serbian Academy of Sciences and Arts</h5>
    </a>
  </div>
  <div class="institutions">
    <img class="dmi logo" src="../../../assets/images/dmi.png" alt="dmi">
    <img src="../../../assets/images/PMF-Amfiteatar.jpg" alt="dmi">
    <a href="https://www.dmi.uns.ac.rs/en">
      <h5>
        University of Novi Sad</h5>
    </a>
  </div>
  <div class="institutions">
    <img class="pmfnis logo" src="../../../assets/images/PMF,Nis.png" alt="">
    <img src="../../../assets/images/nisamfiteatar.jpg" alt="Nis">
    <a href="http://wpresspmf.pmf.ni.ac.rs/?lang=en">
      <h5>
        University of Niš</h5>
    </a>
  </div>
  <div class="institutions">
    <img class="logo pmfkg" src="../../../assets/images/UKG.png" alt="kg">
    <img src="../../../assets/images/kragujevaczgrada.jpg" alt="Kg">
    <a href="https://www.pmf.kg.ac.rs/">
      <h5>
        University of Kragujevac</h5>
    </a>
  </div>
  <div class="institutions">
    <img class="logo npazar" src="../../../assets/images/novipazar.jpeg" alt="">
    <img src="../../../assets/images/univerzitet-novi-pazar1.jpg" alt="Novi Pazar">
    <a href="http://www.np.ac.rs/en">
      <h5>
        State University of Novi Pazar</h5>
    </a>
  </div>
  <div class="institutions logoPhD">
    <img src="../../../assets/images/logo2.png" alt="Novi Pazar">

  </div>
</div>
