<section>
        <h1>Welcome to the official presentation of the PhD School of Mathematics</h1>
      
      
      
        <h3> PhD School of Mathematics is a joint PhD program in mathematics, which is realized by the following institutions:
        </h3>
        <ul>
          <li><a href="http://www.mi.sanu.ac.rs/"><b> Mathematical Institute of the Serbian Academy of Sciences and Arts</b></a></li>
          <li><a href="https://www.dmi.uns.ac.rs/en"><b>University of Novi Sad, Faculty of Sciences and Mathematics</b> </a></li>
          <li><a href="http://wpresspmf.pmf.ni.ac.rs/?lang=en"><b>University  of Nis, Faculty of Sciences and Mathematics</b></a></li>
          <li> <a href="https://www.pmf.kg.ac.rs/"><b>University of Kragujevac, Faculty of Sciences and Mathematics</b></a></li>
          <li><a href="http://www.np.ac.rs/en"><b>State University of Novi Pazar</b></a></li>
        </ul>
        <p>
          The study program has been approved by the <b> Commission for Accreditation and Quality Assurance </b>on June 10,
          2016.<br>
      
          The program will be realized in English, including all courses and the PhD theses.<br>
      
          The first generation of students is expected in 2016/17 academic year, and the instructions for applications will be
          announced in September or October 2016.
        </p>
      
        <h3> Students will be able to choose one of two modules:</h3>
          <ul>
            <li>Analysis</li>
            <li>Algebra and mathematical logic</li>
          </ul>
      
        
        <!-- <div class="questions">
          <h4>All questions should be sent to any of the following persons in charge:</h4>
      
          <h5>Head:<br>
            Stevan Pilipović <i class="fa fa-envelope-o" aria-hidden="true"></i>stevan.pilipovic@gmail.com</h5>
      
          <h5> Deputies:<br>
            Zoran Ognjanović <i class="fa fa-envelope-o" aria-hidden="true"></i>zorano@mi.sanu.ac.rs</h5>
      
          <h5>Dragan Đorđević <i class="fa fa-envelope-o" aria-hidden="true"></i>dragandjordjevic70@gmail.com</h5>
      
          <h5>Secretary:<br>
            Miljana Jovanović <i class="fa fa-envelope-o" aria-hidden="true"></i>mima@pmf.ni.ac.rs</h5>
        </div> -->
      </section>
      <section>
      
      </section>
