@import '../../helpers/mixins';

.container-fluid{
    
    h1 {
        font-family: 'Patua One', cursive;
    }
    form {
        padding: 2em;
        input{
            width: 30%;
        }
    }
}
@include mobile {
    .container-fluid{
        form{
            h4{
                display: none;
            }
            input{
                width: 90%;
            }
        }
    }

}