<div class="container-fluid">
  <h1>Meet our students</h1>
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide >
      <img src="../../../assets/images/TeodoraTrifunović.jpg" alt="Random first slide">
      <p>Teodora from Kragujevac<br>
    It was a great oportunity to try something new, a new concept of teaching and learning. My main reason for choosing PhD School of Mathematics, rather then other PhD programs, is oportynity to go beyond boundaries of Faculty of Science in Kragujevac, where I got my  M.Sc. and  B.Sc. and connect and share experiences with students and learn from from other universities, but still with my residence and job in Kragujevac.</p>
      <div class="carousel-caption">
        <h3>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Modal title3</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>

          <ng-template #longContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Teodora Trifunović</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><b>Teodora Trifunović</b><br>
                  Birth date: 27.10.1993.<br>
                  Birth place: Gornji Milanovac<br>
                  Curerent address:  Dimitrija Tucovića 30А/39, 34000 Kragujevac, Serbia<br>
                  Phone:  +381 60 41 77 509<br>
                  E-mail: teodora.trifunovic@gmail.com<br>
                  
                  
                  
                <b> Work experience</b> <br>
                  
                  <b>2016-2017	Department of Mathematics and Informatics, Faculty of Science, University of Kragujevac	</b><br>
                    Teaching Assistant in field Applied mathematical analisys
                    - teaching:  Probability, Statistics, Introduction to Analysis and Algebra, Mathematics 2 (for physics students), Mathematics 2 (for chemistry students)<br>
                    - teacher in workshop for children gifted for mathematics<br>
                  
                  <b>2017-2018	Department of Mathematics and Informatics, Faculty of Science, University of Kragujevac	
                      Teaching Assistant in field Applied mathematical analisys</b><br>
                    - teaching:  Probability, Statistics, Introduction to Analysis and Algebra, Mathematics 2 (for chemistry students), Statistics and Informatics (for biology students), Numerical mathematics<br>
                    - teacher in workshop for children gifted for mathematics<br>
                    -member of Organizing Committee of  the 14th Serbian Mathematical Congress „XIV SMAK“<br>
                  
                 <b>2018-	Department of Mathematics and Informatics, Faculty of Science, University of Kragujevac	
                    Assistant in field Applied mathematical analisys	</b><br> 
                    - teaching:  Probability, Statistics, Introduction to Analysis and Algebra, Mathematics 2 (for chemistry students), Statistics and Informatics (for biology students), Numerical mathematics<br>
                    - teacher in workshop for children gifted for mathematics<br>
                  
                 <b>Education</b><br> 
                <b>2017-	PhD School of Mathematics, Faculty of Science, University of Kragujevac</b><br> 
                    - field: Matematical analysis (Probability and Stochastic analysis)
                  
                 <b>2016-2017	Department of Mathematics and Informatics, Faculty of Science, University of Kragujevac</b><br> 	
                    - M.Sc. in Mathematics (Pure mathematics) <br>
                    - cumulative GPA: 10<br>
                    - master thesis:  „Stationary random processes“<br>
                  
                  
                  <b>2012-2016	Department of Mathematics and Informatics, Faculty of Science, University of Kragujevac</b><br>
                    - B.Sc. in Mathematics (Pure mathematics)<br>
                    - cumulative GPA: 9,89<br>
                    - the best student in generation<br>
                  
                  
                  <b>Projects	</b><br>
                  2018-	Project #174015 (Serbian Ministry of Education and Science): Approximation of Integral and Differential Operators and Applications<br>
                  
                  <b>Scholarships </b><br>
                  2015-2016	University of Kragujevac scholarship for the best senior students<br>
                  2013-2016	Republic of Serbia scholarship <br>
                  
                  
                 <b> Other skills</b><br>
                    - language: english (advanced)<br>
                    - language: french (pre-intermediate)<br>
                    - softver packages: MS Office, SPSS, R, Wolfram Mathematica<br>
                  </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
          <button class="btn btn-danger mb-2 mr-2" (click)="openScrollableContent(longContent)">Click to see
            more info!
          </button>
        </h3>

      </div>
    </ng-template>



    <ng-template ngbSlide>
      <img src="../../../assets/images/tvrdjava.jpeg" alt="Random second slide">
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
            eget quam.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
            laoreet
            rutrum faucibus dolor auctor.</p>
      <div class="carousel-caption">
        <h3>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>

          <ng-template #longContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
          <button class="btn btn-danger mb-2 mr-2" (click)="openScrollableContent(longContent)">Click to see
            more info!
            </button>
        </h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/images/rajter.jpg" alt="Random third slide">
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
            eget quam.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
            laoreet
            rutrum faucibus dolor auctor.</p>
      <div class="carousel-caption">
        <h3>
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>

          <ng-template #longContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Modal title</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
              <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas
                eget quam.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                laoreet
                rutrum faucibus dolor auctor.</p>
              <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl
                consectetur
                et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
          </ng-template>
          <button class="btn btn-danger mb-2 mr-2" (click)="openScrollableContent(longContent)">Click to see
            more info!</button>
        </h3>
      </div>
    </ng-template>
  </ngb-carousel>




</div>
