@import '../../helpers/mixins';

.container-fluid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 15% 80% 5%;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 2em;

  h1 {
    font-family: 'Chilanka', cursive;
    grid-column: 1/2;
    text-align: center;
    font-weight: bolder;
    padding-top: 3em;
  }


  ngb-carousel {
    // background-color: $dark-grey;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 14em;
    position: relative;
    margin-bottom: 2em;
    background-color: $dark-grey;
    padding: 1em 1em 0 1em;


    img {
      width: 22%;
      height: 12em;

    }

    p {
      position: absolute;
      left: 35%;
      top: 0;
      font-size: 2em;
      color: white;
    }

    .carousel-caption {
      h3 {
        button {
          position: relative;
          padding: .5em;
          top: 3em;
        }
      }
    }
  }

  .about {
    h2 {
      font-family: 'Chilanka', cursive;
    }

    grid-row: 1/4;
    grid-column: 2/3;
    padding: 2em;
    background-color: $dark-grey;
    color: white;
    margin: 2em;
  }
}

@include mobile {
  .container-fluid {

    ngb-carousel {
      grid-column: 1/4;

      p {
        left: 0;
        font-size: 1em;
        display: none;
      }

      img {
        width: 60%;
        position: relative;
        left: 20%;
      }

      .carousel-caption {
        h3 {
          button {
            padding: 0.2em;
            left: 15px;
            ;

          }
        }
      }
    }
  }

}

@include tablet {
  .container-fluid {
    display: inline;

    ngb-carousel {
      margin: 3em;
    }

  }
}

@include mobile {
  .container-fluid {}
}
